### Common ###
**/bin/**
**/log/**
**/.sonarlint/**
**/.metadata/**
**/HELP.md

### Resources ###
**/resources/inbound/**
**/resources/files/**

### Logs ###
**/*.log

### Java ###
**/target/

### JavaScript ###
**/node_modules/**

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

### VS Code ###
**/.vscode/

### Maven ####
release.properties
**/m2/
**/.mvn/wrapper
**/.flattened-pom.xml
#### release plugin ####
**/*.xml.next
**/*.xml.releaseBackup
**/*.xml.tag
#### versions-maven-plugin ####
**/pom.xml.versionsBackup

### others ###
**/.jpb/

### Visual Studio ###
**/.vs
**/*.csproj.user
**/bin
**/obj
**/packages

### MS Office ###
**/~$*.*

### Database Temp ###
**/*.db
